{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <main class="home-page">
        {% include('Home/Widget/renovations.html.twig') %}
        {% include('Home/Widget/our-services.html.twig') %}
        {% include('Home/Widget/categories/index.html.twig') %}
        {% include('Home/Widget/reviews/index.html.twig') %}
        {% include('Home/Widget/numbers.html.twig') %}
        {% include('Home/Widget/contacts.html.twig') %}
        {% include('Home/Widget/map.html.twig') %}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('home') }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl86zgXfPIzRo0lwrJPHZPUvseWOMs68Y" async defer onload="window.initMap && window.initMap()"></script>
{% endblock %}
