@font-face {
    font-family: "Geist";
    src: url("./../../fonts/Geist[wght].woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

$medium: 16px;
$prebig: 20px;
$big: 24px;
$pre-super-big: 32px;
$pre-pre-super-big: 46px;
$super-big: 56px;
$small: 12px;