<div class="contacts-container" id="contact">
    <section class="contacts">
        <h2 class="contacts__title">Get your free renovation quote today</h2>

        <p class="contacts__text">
            Call <a href="tel:+16475615320">+1 (647)-561-5320</a> or email <a href="mailto:info@torontorenoexperts.ca">info@torontorenoexperts.ca</a> to discuss your project with Toronto Reno Experts. No obligation, fast response.
        </p>

         <a class="button" href="tel:+16475615320">Call for a free estimate</a>
    </section>
</div>