<div class="contacts-container" id="contact">
    <section class="contacts">
        <h2 class="contacts__title">Get your free renovation quote today</h2>

        <p class="contacts__text">
            Call +12345678900 or email email@mybusiness.com to discuss your project with Toronto Reno Experts. No obligation, fast response.
        </p>

         <button class="button btn-bg-d-grey">
            <a href="{{ path('application') }}">Call for a free estimate</a>
        </button>
    </section>
</div>