<div class="map-container" 
    data-map-lat="{{ lat|default('43.6532') }}" 
    data-map-lng="{{ lng|default('-79.3832') }}"
    data-map-zoom="{{ zoom|default('11') }}">
    <div id="custom-map" class="custom-map"></div>
</div>