<section class="map-section">
    <h3 class="map-section__title">Proudly Serving Toronto & East GTA
Scarborough, North York, Markham, Richmond Hill, Ajax, Whitby, and Oshawa.</h3>
    <div class="map-container">
        <div id="map" class="map"></div>
    </div>
</section>
